<section class="airdrop">
  <div class="container text-center">
    <p class="text-white font-weight-bold">
      Te invitamos a qué partícipes de nuestro primer lanzamiento aéreo con el cual podrás recibir 50 tokens GS10 por
      realizar algunas tareas sociales..!
    </p>

    <div class="btn-wrapper mt-5">
      <a
        class="btn btn-lg btn-outline-white btn-icon mb-3 mb-sm-0 btn-min-width"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdTjqF17rij7pAZY94kGdN2pa2rk4KmnSpkHIOlH8VzUGudZQ/viewform?usp=sf_link"
        target="_blank"
      >
        <span class="btn-inner--text">Ir al Airdrop</span>
        <span class="btn-inner--icon align-top">
          <i class="fas fa-paper-plane"></i>
        </span>
      </a>
    </div>
  </div>
</section>
