<app-jumbotron>
  <small class="text-white">
    Hace cientos de años el filósofo Aristóteles se preguntó
    <span class="font-weight-bold">¿Cuál es la esencia de la vida?</span> La respuesta que encontró fue: <br />
  </small>
  <p class="h4 text-white">“Servir a otros y hacer el bien”.</p>
</app-jumbotron>

<!-- Hero for FREE version -->
<section class="section section-lg bg-gradient-default">
  <h1 class="text-center title display-3 text-white mb-4">
    Misión
    <span
      class="line hide-on-init bg-white"
      animateOnScroll
      animationName="animate__animated animate__rotateInUpRight"
    ></span>
  </h1>
  <!-- Background circles -->
  <div class="container text-white text-justify">
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Concretamente nuestra misión es en primera instancia poder ayudar a muchas personas económica o financieramente a
      través de la nueva criptomoneda GS10. Las personas que invierten en ella apuestan por un futuro próspero.
    </p>
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Por otra parte, nuestra misión se basa en otro punto: ayudar y colaborar con muchas personas a nivel mundial a
      través de la criptomoneda y la fundación con la cual estaremos ayudando a personas, pueblos y comunidades
      brindándoles alimentos, ropa, medicamentos y demás recursos de subsistencia.
    </p>
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      En síntesis, nuestro propósito es ayudar a que un gran número de personas inviertan y adquieran ganancia con la
      criptomoneda GS10 para así poder lograr una ayuda tanto entre los que compran (en términos financieros) y los
      sectores que serán beneficiados indirectamente (siendo apoyados con recursos primarios de subsistencia) donados
      por nuestra fundación.
    </p>
  </div>

  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
