<app-jumbotron>
  <h2 class="text-white">¿Que es una criptomoneda?</h2>
  <small class="text-white">
    Una criptomoneda es una moneda digita o virtuall con la cual se pueden realizar transacciones de compra / venta de
    productos y servicios así como también inversiones a corto, mediano y largo plazo. Es decir que se pueden utilizar
    como un medio de pago entre usuarios y de éstos con negocios que hayan aceptado dicha criptomoneda como método de
    pago, pero también como una
    <em>“reserva de valor”.</em>
  </small>
  <div class="btn-wrapper mt-5">
    <a
      class="btn btn-lg btn-outline-white btn-icon mb-3 mb-sm-0 btn-min-width"
      href="https://waves.exchange"
      target="_blank"
    >
      <span class="btn-inner--text">Wallet</span>
      <span class="btn-inner--icon align-top">
        <i class="fas fa-wallet"></i>
      </span>
    </a>
  </div>
</app-jumbotron>

<section class="container">
  <h1 class="text-center text-primary title my-5">
    GS10
    <span class="line hide-on-init" animateOnScroll animationName="animate__animated animate__rotateInUpRight"></span>
  </h1>

  <img src="assets/img/gs10-2.jpeg" alt="gs10" height="280px" width="100%" style="object-fit: cover" />

  <p class="text-center mt-5">
    Los problemas económicos y humanitarios actuales parecen no tener una solución en el corto plazo. Durante los
    últimos años las criptomonedas prometen ser una solución para los sectores menos favorecidos de la sociedad global.
  </p>

  <h2>¿Qué es GS10?</h2>
  <p>
    La GS10 es la primera criptomoneda solidaria del mundo y tiene como propósito ayudar a sus miembros a alcanzar la
    libertad financiera y contribuir con la sociedad mediante su fundación solidaria.
  </p>

  <p>
    La importancia de las criptomonedas va más allá de esto, ya que se constituyen como un importante fondo de
    inversión. Mientras que en los bancos tradicionales, el dinero rinde poco o incluso perjudica a quienes lo
    invierten, cuando se invierte en criptomonedas (entre ellas la GS10) se apuesta a que su valor aumente cada vez más,
    esto desde luego va a depender de la demanda que dicha moneda tenga en la sociedad, por ello la importancia de
    formar parte de una gran red de inversores en la criptomoneda GS10.
  </p>

  <h2>¿Cuál es su origen y que proyecciones tiene?</h2>
  <p>
    Tenemos presente que la tecnología es fundamental para el desarrollo de cualquier criptomoneda. Pero en realidad lo
    más importante es que su éxito se base en un proyecto real y sólido. El token GS10 es una criptomoneda que fue
    creada en la blockchain de Waves, una blockchain descentralizada y con una velocidad impresionante en las
    transacciones, así como también un bajo costo en las comisiones por transferencia y operaciones.
  </p>
  <p>
    Debido a que somos un grupo de emprendedores inspirados en la humildad y la solidaridad colectiva, estamos
    trabajando con herramientas accesibles para nuestras posibilidades, sin embargo, esto solo será momentáneamente, ya
    que más adelante tenemos planeado crear nuestra propia blockchain, y así poder independizarnos. También de ser
    posible, crearemos nuestra propia wallet y exchange.
  </p>
  <p>
    Nuestra moneda tiene un suministro total de 100,000,000 ( cien millones de tokens ) y es conocida como la primer
    criptomoneda solidaria en el mundo, ya que un 30% de las acciones totales están destinadas para el desarrollo y
    capitalización de nuestra próxima fundación Gold System.
  </p>
  <p>
    Un 20% de los ingresos serán destinados a la administración (fundadores y trabajadores del proyecto, así como
    también gastos de actualizaciones y proyectos futuros).
  </p>
  <p>
    Por otra parte, sabemos que las alianzas son fundamentales para nuestra expansión global, y es por eso que Gold
    System ocupa el 10% para solventar estas asociaciones en su mayoría solidarias. Un 25% será destinado para la venta
    oficial de las criptomonedas y poder así obtener financiamiento. Estos ingresos también contribuirán a estabilizar y
    dar escalabilidad al mercado en el futuro.
  </p>
  <p>
    Sabemos también que el poder adquisitivo es una de las mejores estrategias para dar usabilidad, fama y prestigio a
    la criptomoneda, por eso es que a modo de incentivo estamos otorgando 15% de nuestro suministro total para un
    lanzamiento aéreo (airdrop) el cual será para recompensar a las personas que se unan a promover nuestro proyecto a
    través de las redes sociales.
  </p>
  <p>En la distribución total de los ingresos está representada en la siguiente gráfica:</p>

  <div style="display: block" class="text-center mt-5 mb-3">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [legend]="pieChartLegend"
      [colors]="chartColors"
    >
    </canvas>
    <p class="mb-0">Supply: 100.000.000 <b>(Cien Millones).</b></p>
    <small class="text-muted">Disponible en el <b>Exchange de Waves.</b></small>
  </div>

  <p class="text-center text-dark">
    En síntesis, debemos destacar que nuestra criptomoneda está diseñada para el ahorro a futuro, dando como resultado
    una capitalización enorme en el mediano y largo plazo, ya que nuestro plan es llevar el valor de nuestra moneda GS10
    hacia el infinito y poder lograr así la tan anhelada libertad financiera.
  </p>
</section>

<!-- Hero for FREE version -->
<section class="section section-lg bg-gradient-default bg-image bg-image-gs10">
  <!-- Background circles -->
  <div class="container text-white text-justify">
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Hace algunos años se dio la primera gran oportunidad con bitcoin (la primera criptomoneda del mundo), que pasó de
      valer unos pocos centavos de dólar en sus inicios, hasta un precio aproximado de 19.000 US$ a finales de 2020. Con
      el paso del tiempo surgieron nuevas criptomonedas que ofrecían diferentes tipos de beneficios. Estas oportunidades
      son pasajeras y en el caso del bitcoin, y si no son aprovechadas en un principio, dejan de ser una opción
      rentable. Por ello es resulta necesario actualizarse y abrir paso a un nuevo abanico de posibilidades con nuevas
      criptomonedas para invertir nuestros ahorros.
    </p>

    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Sin embargo, lo que hace diferente a la nueva criptomoneda GS10 es que es conocida como la primera y única
      criptomoneda solidaria del mundo, ofreciendo diversos beneficios a la sociedad ya que no sólo se espera que rinda
      con importantes ganancias económicas, sino que también contribuye con los sectores más vulnerables de la sociedad
      a través de la fundación que realiza sus actividades dentro de nuestro proyecto pionero denominado Gold System. La
      misma estará ayudando a las comunidades y pueblos de bajos recursos de todo el mundo con recursos económicos,
      materiales y humanos. Entonces, podemos decir que además de beneficios económicos para inversores con una visión y
      proyección amplia en el mediano y largo plazo, la nueva criptomoneda GS10 ofrece una oportunidad sin precedentes
      en la historia para contribuir de manera sólida y sostenida con el desarrollo de nuestras comunidades alrededor
      del mundo.
    </p>
    <p
      class="hide-on-init text-center font-weight-bold"
      animateOnScroll
      animationName="animate__animated animate__fadeInLeft"
    >
      Quisiéramos invitarte cordialmente a formar parte de nuestra comunidad que cada vez tiene más personas e
      inversionistas, con sueños y esperanzas de ver concretados no sólo sus proyectos personales, sino también
      colectivos.
    </p>
  </div>

  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
