<app-jumbotron>
  <h2 class="text-white">Nostros ofrecemos grandes beneficios a todo tipo de empresas, compañías y negocios.<br /></h2>
</app-jumbotron>

<div class="container">
  <h1 class="text-center text-primary title">
    Alianzas
    <span class="line hide-on-init" animateOnScroll animationName="animate__animated animate__rotateInUpRight"></span>
  </h1>
  <p class="text-center">
    En la actualidad muchas personas alrededor del mundo están pasando necesidades, y muchas otras están buscando la
    manera de invertir sus ahorros para generar un beneficio económico.
  </p>

  <article class="mb-5 hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInUp">
    <div class="row pt-5">
      <div class="col-md-6">
        <p class="h4 text-justify">
          Debido a la fuerte situación económica y financiera por la cual están pasando muchas empresas, compañías y
          negocios, sobrevivir en nuestros países se volvió parte de la realidad cotidiana de las comunidades, países y
          continentes.
        </p>
      </div>

      <div class="col-md-6">
        <img src="assets/img/alianzas.jpg" alt="alianzas" />
      </div>
    </div>
  </article>

  <article class="mb-5 hide-on-init" animateOnScroll animationName="animate__animated animate__fadeIn">
    <div class="row pt-5">
      <div class="col-md-6 order-last order-md-first">
        <img src="assets/img/rompecabezas.jpg" alt="rompecabezas" />
      </div>
      <div class="col-md-6 order-firts">
        <p class="h4 text-justify">
          En su gran mayoría todos ellos no cuentan con un respaldo económico para momentos de crisis, volviéndolos en
          presas vulnerables de las circunstancias actuales. Esto puede traer consecuencias trágicas, ocasionando la
          pérdida de negocios, compañías y el sustento diario de muchas familias.
        </p>
      </div>
    </div>
  </article>
</div>

<!-- Hero for FREE version -->
<section class="section section-lg bg-gradient-default">
  <!-- Background circles -->
  <div class="container text-white text-justify">
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Es por eso que Gold System ha decidido colaborar con esta necesidad. Esta colaboración opera a múltiples y niveles
      (financiero, publicitario, capacitación, social entre otros) para quienes inviertan en la nueva criptomoneda GS10
      creada por nuestro proyecto. En este sentido, nuestro principal objetivo es realizar alianzas con pequeñas y
      grandes empresas que apuesten por un futuro económico sustentable.
    </p>
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Para integrarse a esta nueva esfera económica, en principio, estas organizaciones deberán estar registradas como
      tal en sus países, y segundo aceptar a la GS10 como método de pago por sus productos y servicios. Un beneficio en
      el mediano plazo es que, cuanto mayor sea la red de aliados, mayor será el valor de la criptomoneda,
      constituyéndose como un respaldo y un beneficio económico, capaz de contribuir a la economía personal (en el caso
      de particulares) y empresarial de los inversores (en el caso de negocios).
    </p>

    <h3 class="text-white h6 text-center mt-5">
      Otros beneficios complementarios y opcionales que se ofrecen por adquirir dicha criptomoneda son los siguientes:
    </h3>

    <ul class="mt-4">
      <li>
        <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
          El primero de ellos es un beneficio publicitario y consiste en obtener publicidad gratuita de su empresa en
          nuestras redes sociales y página web.
        </p>
      </li>

      <li>
        <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
          Como sabes nuestro proyecto tiene un alcance internacional por lo que las posibilidades de expansión son
          evidentes.
        </p>
      </li>

      <li>
        <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
          Por otra parte, se ofrece un servicio de mentoría por parte de nuestro experimentado personal capacitado en
          cuestiones financieras, quienes podrán guiarte y ayudarte a lo largo de este proceso para que tu proyecto e
          inversiones alcancen resultados óptimos.
        </p>
      </li>

      <li>
        <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
          Ahora bien, si decides formar parte de esta alianza con nosotros fortalecerás nuestra red de inversión, por lo
          que si eres dueño de una compañía o negocio, se te recompensará con un monto apreciable de criptomonedas GS10.
          Para conocer que monto te corresponde como emprendimiento, deberás ponerte en contacto con nosotros.
        </p>
      </li>
    </ul>

    <p class="hide-on-init mt-4" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      También conocerás en detalle todos los beneficios y posibilidades de esta posibilidad única para invertir y
      apostar por un futuro más próspero para ti y tu sociedad.
    </p>

    <p
      class="hide-on-init mb-0 font-weight-bold text-center"
      animateOnScroll
      animationName="animate__animated animate__fadeInLeft"
    >
      Para ello contáctanos vía whatsapp a este número +58 424-7456021 con la palabra jurídico.
    </p>
    <p
      class="hide-on-init mt-0 font-weight-bold text-center"
      animateOnScroll
      animationName="animate__animated animate__fadeInLeft"
    >
      Gracias por tu atención.
    </p>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
