<app-jumbotron>
  <blockquote class="lead text-white">
    “Quien no vive para servir, no sirve para vivir” <br />
    <small>Juan Bosch (escritor y político dominicano).</small>
  </blockquote>

  <div class="btn-wrapper mt-5">
    <a
      class="btn btn-lg btn-outline-white btn-icon mb-3 mb-sm-0 btn-min-width"
      href="https://www.paypal.com/donate?hosted_button_id=3CPZDMCBP6SR2"
      target="_blank"
    >
      <span class="btn-inner--icon">
        <i class="fas fa-hand-holding-medical"></i>
      </span>
      <span class="btn-inner--text">Donar</span>
    </a>
  </div>
</app-jumbotron>

<div class="container">
  <h1 class="text-center text-primary title">
    Fundación
    <span class="line hide-on-init" animateOnScroll animationName="animate__animated animate__rotateInUpRight"></span>
  </h1>
  <p class="text-center">
    Un afectuoso y cordial saludo para quienes se interesan en nuestro proyecto. En esta sección nos gustaría explicarte
    mejor cómo funciona la fundación del proyecto Gold System.
  </p>

  <article class="mb-5 hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInUp">
    <div class="row pt-5">
      <div class="col-md-6">
        <p class="h4 text-justify">
          Gold System es un proyecto digital, el cual, ha creado una criptomoneda y una fundación para ayudar a
          comunidades y pueblos con bajos recursos.
        </p>
      </div>

      <div class="col-md-6">
        <img src="assets/img/fundacion.jpeg" alt="donativos" />
      </div>
    </div>
  </article>

  <article class="mb-5 hide-on-init" animateOnScroll animationName="animate__animated animate__fadeIn">
    <div class="row pt-5">
      <div class="col-md-6 order-last order-md-first">
        <img src="assets/img/fundacion-1.jpeg" alt="donativos" />
      </div>
      <div class="col-md-6 order-firts">
        <p class="h4 text-justify">
          Como equipo de trabajo consideramos que en los tiempos que estamos atravesando es más necesario que nunca
          demostrar nuestra solidaridad con los que menos tienen para que afrontar de mejor manera estos difíciles
          momentos que les toca desgraciadamente a muchas familias latinoamericanas.
        </p>
      </div>
    </div>
  </article>
</div>

<!-- Hero for FREE version -->
<section class="section section-lg bg-gradient-default bg-image bg-image-fundacion">
  <!-- Background circles -->
  <div class="container text-white text-justify">
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Es por eso que nos gustaría apelar al corazón y la solidaridad de quienes estén dispuestos a donar a nuestra
      fundación, una fundación de todos y para todos los habitantes de esta bendita tierra. Gracias a tus donaciones
      dicha fundación estará ayudando con recursos humanos y materiales a nuestros pueblos más necesitados. Estamos
      seguros que nuestro mensaje llegará a muchos corazones generosos que quieren ver un pueblo unido y de pie, firme
      ante las adversidades y más unido que nunca.
    </p>
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      De todas formas queremos que sepas que sino está en tus posibilidades realizar una donación económica, pero
      igualmente tienes el deseo de ayudar invirtiendo en un mejor futuro para ti y tus allegados, puedes invertir en la
      criptomoneda solidaria GS10. De esta manera estarás contribuyendo a la fundación, ya que un 20% de todos los
      ingresos generados por la moneda estarán destinados a la fundación solidaria que ayuda a comunidades y pueblos con
      bajos recursos, nuestra fundación aportará donando comida, ropa, alimentos y medicamentos para su subsistencia.
    </p>
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Finalmente, podemos concluir que tiempos difíciles conllevan a decisiones trascendentales, estas pueden marcar un
      antes y un después en la historia de pueblos, familias e individuos. Creemos que ha llegado el momento de ejercer
      nuestro poder para cambiar la historia, desde un acto pequeño, hasta el más grande de ellos. Por eso queremos
      invitarte amablemente a formar parte de este ambicioso proyecto, ya que con tu contribución podremos ayudar a
      equilibrar la balanza y la brecha económica en nuestros países y contribuir al desarrollo de personas prósperas e
      íntegras, un legado que agradecerán nuestras futuras generaciones.
    </p>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
