<app-jumbotron>
  <p class="h4 text-white">“Buscamos ayudar a tantas personas como podamos”.</p>
  <small class="text-white">
    Ayudar al otro es una manera de ayudarnos también a nosotros mismos. Por eso queremos invitarte a ser parte de
    nuestro sueño.
  </small>
</app-jumbotron>

<!-- Hero for FREE version -->
<section class="section section-lg bg-gradient-default">
  <h1 class="text-center title display-3 text-white mb-4">
    Visión
    <span
      class="line hide-on-init bg-white"
      animateOnScroll
      animationName="animate__animated animate__rotateInUpRight"
    ></span>
  </h1>
  <!-- Background circles -->
  <div class="container text-white text-justify">
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      Estamos seguros que una perspectiva solidaria contribuye necesariamente a cambiar la realidad colectiva, ayudar al
      otro es una manera de ayudarnos también a nosotros mismos. Por eso queremos invitarte a ser parte de nuestro
      sueño.
    </p>
    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft">
      <img src="assets/img/gs10-2.jpeg" alt="gs10" class="img-float" />
      Nuestra visión es ambiciosa y apunta a posicionar a la GS10 como una de las mejores criptomonedas del mundo ya que
      contamos con todos los recursos necesarios para serlo (personal, conocimientos, estrategias y métodos adecuados)
      los cuales definitivamente impulsarán a la criptomoneda GS10 a la cima del mercado de divisas. Nuestra
      criptomoneda solidaria estará presente en los mejores y más reconocidos exchanges del planeta (algunos de gran
      renombre como Binance).
    </p>

    <p class="hide-on-init" animateOnScroll animationName="animate__animated animate__fadeInLeft" style="clear: both">
      La nueva criptomoneda GS10 se encargará de ayudar a muchos inversionistas, comunidades y pueblos de bajos
      recursos. Nuestra misión puede resumirse en la siguiente idea “buscamos ayudar a tantas personas como podamos”.
      Este propósito que tenemos no podríamos concretarlo solos, somos una gran comunidad y por eso necesitamos la ayuda
      de generosos inversionistas como tú. Esto se basa en que creemos que tal como Apuleyo sostenía “uno a uno, todos
      somos mortales pero juntos, somos eternos“.
    </p>
  </div>

  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
